*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: #A49E8D;
    text-align: center;
}

.container{
    width: 90%;
    height: 70vh;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
}

#xColor{
    background-color: royalblue;
}
#oColor{
    background-color: rosybrown;
}

#game{
    height: 60vmin;
    display: grid;
    grid-template-columns: repeat(3,18vmin);
    grid-template-rows: repeat(3,18vmin);
    gap:17px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    font-size: 60px;
    background-color: #504136;
    color: #689689;
}

main>button{
    padding: 10px;
}


